body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* خلفية فاتحة */
    color: #333; /* لون النص */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #FF5733; /* لون أحمر مائل إلى البرتقالي */
    padding: 20px;
}

section {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
    font-size: 1.1em;
}